*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
.StartGameAnimation{
    animation-name: gameBorder;
    animation-duration: 1s;
}
.flex{
    display: flex;
}
.border{
    border: 2px solid black;
}
#startButton{
    width: 60vw;
    height: 10vh;
    text-align: center;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}


#gameContainer{
    display: none;
    flex-direction: column;
}
#round{
    margin: 20px;
    background-color: black;
    color: white;
}
#game{
    margin: 20px;
    height: 50vh;
}
/* #game img{
    margin: 20px;
    padding: 10px;
} */
#show{
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.makeSpace{
    padding: 20px;    
}

#scoreBoard{
    margin: 20px;
    width: 80vw;
    height: 10vh;
    padding: 10px;
    justify-content: space-evenly;
}
#scoreBoard img{
    width: 40px;
}
#finalScore{
    padding-top: 50%;
    display: none;
    color: white;
    background-color: light;
    height: 100%;
    width: 100%;
}

@keyframes gameBorder {
    from {
        width: 60vw;
        height: 10vh;
    }
    to {
        width: 100vw;
        height: 100vh;
    }
  }